@model MSContests.Models.UploadRequest

@{
    ViewBag.Title = "Удалить заявку";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action("IndexKolesa", "Register")"></a>
    </div>
</div>

<div class="page-region">
    <div class="page-region-content">
        <h3>Вы уверены, что хотите удалить эту заявку?</h3>
        <fieldset>
            <div class="page-control" data-role="page-control">
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.RegisterDate)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.RegisterDate)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.ApprovalDate)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ApprovalDate)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.Approved)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Approved)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.LastName)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LastName)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.FirstName)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.FirstName)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.Email)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Email)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.City)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.City)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.Position)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Position)<br />
                </div>

                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.Comments)</b>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Comments)<br />
                </div>
            </div>
        </fieldset>


        <br />

        @using (Html.BeginForm())
        {
            <p>
                <input type="submit" value="Удалить" />
            </p>
        }
    </div>
</div>