@using MSContests.Models
@{
    ViewBag.Title = "Добавь Наурыз в Windows Store!";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action("Index", "Home")"></a>
    </div>
</div>
 
<div class="page-region">
    <div class="page-region-content">
        <fieldset class="bg-image-romashka">
            <legend>Подготовься к Наурызу!</legend>
            <div>
                <div style="float: right">
                    <h2><span style="margin: 0px 40px; font-weight: bold" class="fg-color-white">ДО ЗАВЕРШЕНИЯ КОНКУРСА</span></h2>
                    <div>
                        <div id="clock">
                            <p>
                                <span id="weeks"></span>
                                <span style="padding: 20px; font-size: 12px">НЕДЕЛИ</span>
                            </p>
                            <div class="space">:</div>
                            <p>
                                <span id="daysLeft"></span>
                                <span style="padding: 20px; font-size: 12px">ДНИ</span>
                            </p>
                            <div class="space">:</div>
                            <p>
                                <span id="hours"></span>
                                <span style="padding: 20px; font-size: 12px">ЧАСЫ</span>
                            </p>
                            <div class="space">:</div>
                            <p>
                                <span id="minutes"></span>
                                <span style="padding: 20px; font-size: 12px">МИНУТЫ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <h3 class="fg-color-white">
                    Cовсем скоро тысячи людей побегут покупать в качестве подарка на Наурыз ноутбуки и планшеты с Windows 8, и мы очень хотим, чтобы будущие пользователи Windows 8 загрузили Ваше приложение первым! Напишите приложения к Наурызу и получите планшеты с Windows 8, смартфон Nokia Lumia 820! 
                </h3>
            </div>
        </fieldset>
        
        <div>
            <div style="float: right; padding-right: 30px;">
                <table>
                    <tr>
                        <td>
                            <img src="~/Images/tablet_samsung_cropped.png"></li>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td><span class="fg-color-blueDark" style="font-size: 72px;">x 3</span></td>
                                </tr>
                                <tr>
                                    <td><span class="fg-color-blueDark" style="font-size: 40px;">планшета<br/>Windows 8</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <h2><span>ПРИЗЫ</span></h2>
            
            <ol class="round">
                <li class="one">
                    <h3>Самое рейтинговое приложение</h3>
                    <span>Если среди участников конкурса, на момент его окончания, будет приложение из топ 100 приложений в Windows Store (по рейтингу), мы вручим специальный приз приложению с максимальным рейтингом</span>
                </li>
                <li class="two">
                    <h3>Самое популярное приложение за время конкурса</h3>
                    <span>Для определения победителя, средняя оценка приложения на момент окончания конкурса умножается на количество оценок на момент окончания конкурса, выбирается приложение имеющее большее результирующее число.</span>
                </li>
                <li class="three">
                    <h3>Самое популярное студенческое приложение за время конкурса</h3>
                    <span>Для определения победителя, средняя оценка приложения на момент окончания конкурса умножается на количество оценок на момент окончания конкурса, выбирается приложение имеющее большее результирующее число.</span>
                </li>
            </ol>
            <div>
                <a href="@Url.Action("Conditions","Register")">
                    <button type="button">Условия участия</button>
                </a>
                <a href="@Url.Action("Create","Register")">
                    <button class="active">Участвовать</button>
                </a>
            </div>
            <hr/>
            <img src="~/Images/nokia-lumia-920_cropped.png" style="float:left;">
            <h2><span>СПЕЦИАЛЬНЫЙ ПРИЗ</span></h2>
            <h3>Создайте ваше приложение для двух платформ (Windows 8 и Windows Phone) и получите специальный приз: Nokia Lumia 820</h3>
            <span>Вы можете подать заявку на участие в конкурсе с приложениями, опубликованными в Windows Store и Windows Phone Store, согласно условиям конкурса. При выборе победителей будет учитываться наличие версии для Windows Phone 8, использующей новые возможности системы (разные размеры живых тайлов, новые карты, работа с голосовыми сервисами, работа с экраном блокировки и т.д.)</span>
            <br/><br/>
            
            <div>
                <a href="@Url.Action("Conditions","Register")">
                    <button type="button" class="bg-color-orangeDark fg-color-white">Условия участия</button>
                </a>
                <a href="@Url.Action("Create","Register")">
                    <button class="active bg-color-orangeDark fg-color-white">Участвовать</button>
                </a>
            </div>
            <br/>
            <hr/>
            <h2><span>УЧАСТНИКИ</span></h2>
            <div>
                <a href="@Url.Action("List","Contests", new { finishDate = "2013/03/23"})">
                    <div class="tile bg-color-blue" data-role="tile-slider" data-param-period="3000">
                        <div class="tile-content" style="text-align: center">
                            <h3>В ДАННОЕ ВРЕМЯ</h3>
                        </div>
                        <div class="tile-content" style="text-align: center">
                            <h3>В КОНКУРСЕ УЧАСТВУЕТ</h3>
                        </div>
                        <div class="tile-content" style="text-align: center">
                            <h1>@ViewBag.Count</h1>
                            <br/>
                            <h3>ПРОЕКТОВ</h3>
                        </div>
                        <div class="brand">
                            <img class="icon" src="~/Images/Curly_Brackets.png"/>
                        </div>
                    </div>
                </a>
                <div style="padding-left: 30px">
                    <h2>ПОСЛЕДНИЕ ДОБАВЛЕННЫЕ:</h2>
                    <ul class="listview fluid">
                        @foreach (Request item in ViewBag.lastAdded)
                        {
                            <li>
                                <div class="icon">
                                    <img src="~/Images/Windows8.png"/>
                                </div>
                        
                                <div class="data">
                                    <a href="@Html.DisplayFor(modelItem => item.AppUrl)" target="_blank">@Html.DisplayFor(modelItem => item.AppName)</a>
                                    @if (item.WPhone8App)
                                    {
                                        <span> + </span><img src="~/Images/WP8.png"/><a href="@Html.DisplayFor(modelItem => item.WPhoneAppUrl)" target="_blank">WP</a>
                                    } 
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
// Javascript
$(function() {
  var currentDate = new Date();
  $('div#clock').countdown("2013/03/23", function(event) {
    $this = $(this);
    switch(event.type) {
      case "seconds":
      case "minutes":
      case "hours":
      case "days":
      case "weeks":
      case "daysLeft":
        $this.find('span#'+event.type).html(event.value);
        break;
      case "finished":
        $this.fadeTo('slow', .5);
        break;
    }
  });
});
</script>


