@using MSContests.Models
@{
    ViewBag.Title = "Здравствуй, лето!";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action("Index", "Home")"></a>
    </div>
</div>
 
<div class="page-region">
    <div class="page-region-content">
        <fieldset class="bg-image-romashka">
            <legend>Здравствуй, лето красное!</legend>
            <div>
                <div style="float: right">
                    <h2><span style="margin: 0px 40px; font-weight: bold" class="fg-color-white">ДО ЗАВЕРШЕНИЯ КОНКУРСА</span></h2>
                    <div>
                        <div id="clock">
                            <p>
                                <span id="weeks"></span>
                                <span style="padding: 20px; font-size: 12px">НЕДЕЛИ</span>
                            </p>
                            <div class="space">:</div>
                            <p>
                                <span id="daysLeft"></span>
                                <span style="padding: 20px; font-size: 12px">ДНИ</span>
                            </p>
                            <div class="space">:</div>
                            <p>
                                <span id="hours"></span>
                                <span style="padding: 20px; font-size: 12px">ЧАСЫ</span>
                            </p>
                            <div class="space">:</div>
                            <p>
                                <span id="minutes"></span>
                                <span style="padding: 20px; font-size: 12px">МИНУТЫ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <h3 class="fg-color-white">
                    Очень скоро наступит лето! Миллионы людей отправятся в путешествия, на отдых и, конечно же возьмут с собой свои смартфоны. <br/>
                    Напишите приложения, которые будут полезны и интересны владельцам смартфонов c Windows Phone и планшетов с Windows 8, которые помогут им не только в планировании путешествия и отдыха, в выборе интересных, красивых 
                    мест и достопримечательностей, но и помогут им заполнить свободное время играя и общаясь.<br/>Одним словом - не ограничивайте свою фантазию! <br/>А в награду за изобретательность и труд получите 
                    смартфоны c Windows Phone и планшет с Windows 8! 
                </h3>
            </div>
        </fieldset>
        
        <div>
            <h2><span>ПРИЗЫ</span></h2>
            <div class="grid">
                <div class="row">
                    <div class="span10">
                        <ol class="round">
                            <li class="one">
                                <h3>Самое интересное приложение</h3>
                                <span>Приложение выбирается жюри Майкрософт Казахстан. Критерии: богатый функционал, нативный Windows Phone дизайн, использование новых функций Windows Phone 8 (разные размеры живых тайлов, новые карты, работа с голосовыми сервисами, работа с экраном блокировки и т.д.) </span>
                            </li>
                            <li>
                            <li class="two">
                                <h3>Самое популярное приложение за время конкурса</h3>
                                <span>Для определения победителя, средняя оценка приложения на момент окончания конкурса умножается на количество оценок на момент окончания конкурса, выбирается приложение имеющее большее результирующее число.</span>
                            </li>
                            <li class="three">
                                <h3>Самое популярное студенческое приложение за время конкурса</h3>
                                <span>Для определения победителя, средняя оценка приложения на момент окончания конкурса умножается на количество оценок на момент окончания конкурса, выбирается приложение имеющее большее результирующее число.</span>
                            </li>
                        </ol>
                    </div>
                    <div class="offset10">
                        <div class="carousel" data-role="carousel" style="height: 300px; width: 483px;" data-param-effect="slide" data-param-direction="left" data-param-duration="2000" data-param-period="4000" >
                            <div class="slides">
                                <div class="slide mixed" id="slide1">
                                    <img src="~/Images/HTC_8X_White_300.jpg">
                                    <div class="description">
                                        HTC 8X за самое интересное приложение
                                    </div>
                                </div>
 
                                <div class="slide mixed" id="slide2">
                                    <img src="~/Images/HTC_8S_White_300.jpg">
                                    <div class="description">
                                        HTC 8S за самое популярное за время конкурса приложение
                                    </div>
                                </div>
                    
                                <div class="slide mixed" id="slide2">
                                    <img src="~/Images/Lumia_800_white_300.jpg">
                                    <div class="description">
                                        Nokia Lumia 800 за самое популярное студенческое приложение
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="@Url.Action("SunnnySummerConditions","Register")">
                    <button type="button">Условия участия</button>
                </a>
                <a href="@Url.Action("CreateWP","Register")">
                    <button class="active">Участвовать</button>
                </a>
            </div>
            <hr/>
            <img src="~/Images/VivoTab.jpg" style="float:left;">
            <h2><span>СПЕЦИАЛЬНЫЙ ПРИЗ</span></h2>
            <h3>Создайте ваше приложение для двух платформ (Windows 8 и Windows Phone) и получите специальный приз: планшет Asus VivoTab с Windows 8</h3>
            <span>Вы можете подать заявку на участие в конкурсе с приложениями, опубликованными в Windows Store и Windows Phone Store, согласно условиям конкурса.</span>
            <br/><br/>
            
            <div>
                <a href="@Url.Action("SunnnySummerConditions","Register")">
                    <button type="button" class="bg-color-orangeDark fg-color-white">Условия участия</button>
                </a>
                <a href="@Url.Action("CreateWP","Register")">
                    <button class="active bg-color-orangeDark fg-color-white">Участвовать</button>
                </a>
            </div>
            <br/>
            <hr/>
            <div class="grid">
                <div class="row">
                    <div class="span2">
                        <h2><span>УЧАСТНИКИ</span></h2>
                        <a href="@Url.Action("ListSummer","Contests", new { finishDate = "2013/06/30"})">
                            <div class="tile bg-color-blue" data-role="tile-slider" data-param-period="3000">
                                <div class="tile-content" style="text-align: center">
                                    <h3>В ДАННОЕ ВРЕМЯ</h3>
                                </div>
                                <div class="tile-content" style="text-align: center">
                                    <h3>В КОНКУРСЕ УЧАСТВУЕТ</h3>
                                </div>
                                <div class="tile-content" style="text-align: center">
                                    <h1>@ViewBag.Count</h1>
                                    <br/>
                                    <h3>ПРОЕКТОВ</h3>
                                </div>
                                <div class="brand">
                                    <img class="icon" src="~/Images/Curly_Brackets.png"/>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="offset10">
                        <div style="padding-left: 30px">
                            <h2>ПОСЛЕДНИЕ ДОБАВЛЕННЫЕ:</h2>
                            <ul class="listview fluid">
                                @foreach (Request item in ViewBag.lastAdded)
                                {
                                    <li>
                                        <div class="icon">
                                            <img src="~/Images/WP8.png"/>
                                        </div>
                        
                                        <div class="data">
                                            <a href="@Html.DisplayFor(modelItem => item.WPhoneAppUrl)" target="_blank">@Html.DisplayFor(modelItem => item.AppName)</a>
                                            @if (item.Windows8App)
                                            {
                                                <span> + </span><img src="~/Images/Windows8.png"/><a href="@Html.DisplayFor(modelItem => item.AppUrl)" target="_blank">Windows 8</a>
                                            } 
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
// Javascript
$(function() {
  var currentDate = new Date();
  $('div#clock').countdown("2013/06/30", function(event) {
    $this = $(this);
    switch(event.type) {
      case "seconds":
      case "minutes":
      case "hours":
      case "days":
      case "weeks":
      case "daysLeft":
        $this.find('span#'+event.type).html(event.value);
        break;
      case "finished":
        $this.fadeTo('slow', .5);
        break;
    }
  });
});
</script>



